apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: israelerlan1/wepone:v1
        ports:
        - containerPort: 8000
        env: 
        - name: USER
          value: 'root'
        - name: PASSWORD
          value: 'pass'
        - name: HOST
          value: 'localhost'
        - name: PORT
          value: '3306'
